@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
:root{
    --primary-color: 
    --text-color: 
}

body{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

nav{
    text-align: center;
    background-color: gray;
    color: white;
    padding: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    width: 100%;
    font-size: larger;
    margin: auto;
}

.header{
    font-weight: bolder;
    font-size: 2rem;
    padding-left: 2rem;
    color: white;
}

a {
    text-decoration: none;
    padding: 0.5rem;
    font-size: 1rem;
    color: var(--text-color);
}

.list-style {
    list-style: none;
    text-align: right;
    padding-inline-start: 0px;
    padding-right: 2rem;
}

.list {
    display: inline;
    padding: 0rem 0.5rem;
}

.heading {
    text-align: center;
    padding:1rem;
    padding-top: 2rem;
    color: var(--text-color);
}
h4{
    text-align: center;
}
div{
    /* min-width: 50%; */
    color: black;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    display: block;
    margin: 3rem;
   }
 
   label{
    display: block;
    font-size: larger;
}

input{
    padding: 0.5rem 1rem;
    margin: 1rem;
    border: 2px solid black;
    border-radius: 0.5rem;
    font-size: larger;
    width: 100%;
    max-width: 200px;
}

button{
    display: block;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin: auto;
    cursor: pointer;
    background-color: gray;
    color: white;
    font-weight: bolder;
    border: none;
}

.quiz-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question-container{
    display: block;
    padding: 0.5rem 1rem;
    margin: 1rem;
    border: 1px solid black;
    border-radius: 2rem;
    font-size: larger;
    width: 100%;
    max-width: 200px;
    text-align: center;
    margin: 3rem;
}
